@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font: 600 1em/1 'Arial';
    color: #425F57;
    /* margin: 0 10px; */
}

ul{
    list-style: none;
}

#menu {
    display: flex;
    padding: 10px 0;
    background: #A8E890;
    justify-content: space-between;
    align-items: center;
}

#menu>img {
    height: 50px;
}

#items {
    background-color: #A8E890;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#items>* {
    border: 2px solid #425F57;
    width: 100%;
    padding: 5px;
}

#buttons > button{
    border: 2px solid #425F57;
    padding: 5px 10px;
    background-color: transparent;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    border-radius: 7px;
}

#buttons{
    margin: 0 20px;
}
